.glitch {
  text-align: left;
  color: oklch(0% 0 0);
  font-size: 2.625rem;
  font-weight: 900;
  position: relative;
  margin: 0;
  padding: 0;
  user-select: none;
  cursor: pointer;
  display: block;
}

.glitch::after,
.glitch::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: oklch(100% 0 0);
  overflow: hidden;
  clip-path: inset(0 0 0 0);
  pointer-events: none;
}

.glitch::after {
  left: 10px;
  text-shadow: var(--after-shadow);
  animation: glitch var(--after-duration) infinite linear alternate-reverse;
}

.glitch::before {
  left: -10px;
  text-shadow: var(--before-shadow);
  animation: glitch var(--before-duration) infinite linear alternate-reverse;
}

.glitch.enable-on-hover::after,
.glitch.enable-on-hover::before {
  content: '';
  opacity: 0;
}

.glitch.enable-on-hover:hover::after,
.glitch.enable-on-hover:hover::before {
  content: attr(data-text);
  opacity: 1;
}

.glitch.enable-on-hover:hover::after {
  text-shadow: var(--after-shadow);
  animation: glitch var(--after-duration) infinite linear alternate-reverse;
}

.glitch.enable-on-hover:hover::before {
  text-shadow: var(--before-shadow);
  animation: glitch var(--before-duration) infinite linear alternate-reverse;
}

@keyframes glitch {
  0% { clip-path: inset(20% 0 50% 0); }
  5% { clip-path: inset(10% 0 60% 0); }
  10% { clip-path: inset(15% 0 55% 0); }
  15% { clip-path: inset(25% 0 35% 0); }
  20% { clip-path: inset(30% 0 40% 0); }
  25% { clip-path: inset(40% 0 20% 0); }
  30% { clip-path: inset(10% 0 60% 0); }
  35% { clip-path: inset(15% 0 55% 0); }
  40% { clip-path: inset(25% 0 35% 0); }
  45% { clip-path: inset(30% 0 40% 0); }
  50% { clip-path: inset(20% 0 50% 0); }
  55% { clip-path: inset(10% 0 60% 0); }
  60% { clip-path: inset(15% 0 55% 0); }
  65% { clip-path: inset(25% 0 35% 0); }
  70% { clip-path: inset(30% 0 40% 0); }
  75% { clip-path: inset(40% 0 20% 0); }
  80% { clip-path: inset(20% 0 50% 0); }
  85% { clip-path: inset(10% 0 60% 0); }
  90% { clip-path: inset(15% 0 55% 0); }
  95% { clip-path: inset(25% 0 35% 0); }
  100% { clip-path: inset(30% 0 40% 0); }
}
